* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,
body {
    height: 100%;

}

@font-face {
    src: url('/fonts/OpenSans-Light.ttf');
    font-family: "Open Sans";
}

.center {
    width: 1280px;
    margin: 0 auto;
}

#logo {
    width: 170px;
    display: block;
    margin: 0;

}

/* ---------------------- Cabeçalho --------------------- */

.header {
    width: 400px;
    height: 100px;
    display: block;
    margin: -70px auto auto auto;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header ul li {
    margin: 10px;
}

.header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    background-color: #ff203e;
    border-radius: 20px;
}

.header ul li a:hover {
    background-color: #831d2b;
    border-radius: 20px;
}

.container {
    width: 100%;
    height: 850px;
    display: flex;
    position: relative;
}

.image {
    border: solid green 2px;
    top: -160px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/fundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

}

/* ---------------------- Formulário --------------------- */

.form {
    width: 400px;
    height: 550px;
    background-color: white;
    padding: 20px;
    border: solid #ccc 8px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: -100px;
}

.container>.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form h2 {
    font-weight: normal;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.input-container {
    margin-top: 20px;
}

.input-container span {
    display: inline-block;
    width: 100%;
    color: #000000;
    font-size: 17px;
}

.form p {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    color: #000000;
    font-size: 12px;
    border-radius: 10px;
}

.input-container input[type=text],
.input-container input[type=email],
.input-container input[type=tel] {
    margin-top: 8px;
    width: 100%;
    height: 55px;
    border: solid #000000 1px;
    padding: 10px;
    border-radius: 7px;
}

.form input[type=submit] {
    color: white;
    width: 100%;
    height: 56px;
    background-color: #a01c2e;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: 10px auto 0 auto;
    font-size: 17px;
}

input[type="submit"]:hover {
    background-color: #57101a;
}

.warning {
    font-weight: bold;
}

#successMessage {
    color: green;
    font-weight: bold;
}

/* ---------------------- Informações --------------------- */

/* Seção de Informações */
#informacoes {
    border: solid blue 2px;
    width: 90%;
    margin: -50px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos das seções */
h3 {
    font-size: 1.3em;
    color: #a01c2e;
    margin-bottom: 8px;
    border-bottom: 1px solid #2c3e50;
    padding-bottom: 5px;
}

/* Texto das seções */
#texto-info {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

/* Lista dentro das seções */
#lista-info {
    list-style-type: none;
    padding-left: 10px;
}

#lista-info li {
    font-size: 1em;
    margin: 8px 0;
}

#lista-info li strong {
    color: #2c3e50;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para as seções específicas */
section {
    padding: 10px;
    margin-bottom: 15px;
}

#bot-contato {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a01c2e;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin: -10px 0 0 0;
}

#bot-contato:hover {
    background-color: #57101a;
}